{{> header }}

{{> navbar }}

<div class="container">
    <div class="row">
        <div class="col-8">

            <h1>About</h1>
            <p>
                La música es, según la definición tradicional del término, el arte de organizar sensible y lógicamente una combinación coherente de sonidos y silencios respetando los principios fundamentales de la melodía, la armonía y el ritmo, mediante la intervención de complejos procesos psicoanímicos.
            </p>


        </div>
        <div class="col-4">

            <img src="assets/img/music.jpg" class="img-thumbnail">


        </div>
    </div>
</div>



{{> footer }}